.borderDivision {
	border:2px solid #222222;
	background: #FFFFFF;
    color: #232323;}

.description {
	background:#FFFFFF;
	color:#232323;}

.colorLabel{	color:#C20F0F;}

.white-color{ color : #000;}

#carouseldiv {
	margin: 0 auto;
	width: 50%;
		
/*    width: 500px;
*/}
.hotelimg{
	height: 100px;
    width :200px;
}